include header
div( ng-app='Hello' ng-controller='NameController' )
    div.row
        div.col-lg-6.col-lg-offset-3
            - for (var i = 0; i < posts.length; ++i) {
            div( class="well well-sm" )
                ul
                    li= posts[i].created_time
                    li= posts[i].name
                    li= posts[i].description
            - }
include lib        
script(type='text/javascript',src='/application.js')