html
    head
        title= title
        link( href='/css/main.css' , rel='stylesheet' )
        link( href='/lib/bootstrap/dist/css/bootstrap.min.css' , rel='stylesheet' )

    body( class="body" )
        nav(class="navbar navbar-default") 
            p(class="navbar-text") corgi.space