include header
div( class="container" )      
    form( name='tweet_name' , method='GET', action='searchTweet' , role="search")
        div( class="form-group" )
            input( class="form-control" , name='twitter' , placeholder='twitter here' )
            button( class="btn btn-default" , value='search' , type='submit' ) Submit

    - for (var i = 0; i < tweet.length; ++i) {
        div( class="well well-sm" )
            ul
                li= tweet[i].created_at
                li= tweet[i].text
                li= tweet[i].retweet_count
                li 
                    a( href="https://twitter.com/"+tweet[i].user.id_str+"/status/"+tweet[i].id_str target='_blank') link
    - }

include lib        
script(type='text/javascript',src='/application.js')